<!DOCTYPE html>
<html>

<head>
    <title>Event - Dream fulfillment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon-->
    <link href="images/favicon.png" rel="icon" />
    <!--text icons-->
    <link href="css/all.min.css" rel="stylesheet" />
    <!--fonts css-->
    <link href="css/barlow.css" rel="stylesheet" />
    <!--fonts css2-->
    <link href="css/mitr.css" rel="stylesheet" />
    <!--custom Css-->
    <link href="css/style.css" rel="stylesheet" />
    <!--media css-->
    <link href="css/media.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="topbar d-xs-none d-s-none d-l-none d-xl-block" id="#top">
            <div class="container">
                <div class="row">
                    <div class="left w6">
                        <ul class="d-flex">
                            <li>
                                <i class="fa-sharp fa-solid fa-phone-volume" style="color: #000;"></i>
                                <a href="#" class="color-white">
                                    +91 8849038912
                                </a>
                            </li>
                            <li>
                                <i class="fa-sharp fa-solid fa-envelope" style="color: #000000;"></i>
                                <a href="#" class="color-white">
                                    chandrakantpawar590@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right w6">
                        <div class="top-btn">
                            <a href="#" class="color-white">
                                Purchase Hosting
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="row set">
                    <div class="nav-btn-tops w12 d-flex s-set l-set">
                        <div class="logo w2 w-xs-5 w-s-5 w-l-2 ">
                            <a href="#">
                                <img src="images/logo.webp" alt="logo" />
                            </a>
                        </div>
                        <div class="hamburger w2  d-l-none">
                            <a href="#">
                                <i class="fa-solid fa-bars"></i>
                            </a>
                        </div>
                        <div class="nav w7 d-xs-none d-s-none d-m-none d-l-block">
                            <ul class="nav-links d-flex font-sl font-xl l-set ">
                                <li class="links">
                                    <a href="#">
                                        HOME
                                    </a>
                                </li>
                                <li class="links">
                                    <a href="#">
                                        SPEAKERS
                                    </a>
                                </li>
                                <li class="links">
                                    <a href="#">
                                        SCHEDULE
                                    </a>
                                </li>
                                <li class="links">
                                    <a href="#">
                                        LOCATION
                                    </a>
                                </li>
                                <li class="links">
                                    <a href="#">
                                        BLOG
                                    </a>
                                </li>
                                <li class="links">
                                    <a href="#">
                                        CONTACT
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="head-btn w3 d-xs-none  d-s-none d-m-none d-xl-block">
                            <div class="eff">
                                <a href="#" class="color-white">
                                    CONFIRM YOUR SEAT<i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="sec1">
            <div class="img-bg">
                <div class="container">
                    <div class="row">
                        <div class="main-content1 w6 w-xs-12 w-s-12">
                            <h1 class="title py-100">
                                <span class="san-color">SanDiego</span><br />
                                Design<br />
                                Week<br />
                            </h1>
                            <div class="video-bg">
                                <div class="video-btn">
                                    <a href="#">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="main-content2 w6 d-flex text-end w12">
                            <h4 class="date w12">
                                01 July 2023
                            </h4>
                            <div class="para w12">
                                <p class="info">
                                    3968 Carson Street, San Diego, CA 92101
                                </p>
                            </div>
                            <div class="buy-btn w12">
                                <a href="#" class="color-white">
                                    Buy Ticket
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec2">
            <div class="container">
                <div class="row d-flex ">
                    <div class="main-content1 w6 w-xs-12 w-s-12 w-l-6">
                        <h2 class="about">
                            About<br />
                            Design Week

                        </h2>
                        <div class="eff">
                            <a href="#" class="color-white">
                                CONFIRM YOUR SEAT<i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="main-content2 w6 w-xs-12 w-s-12 w-l-6">
                        <div class="row d-flex">
                            <p class="about-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, vel omnis repellendus
                                mollitia, explicabo, maiores quisquam numquam quia reiciendis sit, accusantium atque ex
                                animi perspiciatis ab odit earum assumenda aliquid.
                            </p>
                            <p class="about-info2">
                                Dolor sit amet, consectetur adipisicing elit. Commodi, vel omnis repellendus mollitia,
                                explicabo, maiores quisquam numquam quia reiciendis sit, accusantium atque ex animi
                                perspiciatis ab odit earum assumenda aliquid.
                            </p>
                            <div class="row d-flex justify-between">
                                <div class="event">
                                    <p class="no">03</p>
                                    <p class="data">
                                        Day Event
                                    </p>
                                </div>
                                <div class="day-event">
                                    <p class="no">10+</p>
                                    <p class="data">
                                        Day Event
                                    </p>
                                </div>
                                <div class="sponsors">
                                    <p class="no">23+</p>
                                    <p class="data">
                                        Sponsors
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="to-top">
                    <a href="#top">
                        <i class="fa-solid fa-greater-than fa-rotate-270 fa-sm" style="color: #ffffff;"></i>
                    </a>
                </div>
        </section>
        <section class="sec3 xs-p s-p pt">
            <div class="container">
                <div class="row pb spek">
                    <div class="top-heading w6 w-xs-4 w-s-6">
                        <h2 class="sec3-heading">
                            Speakers
                        </h2>
                    </div>
                    <div class="top-btn1 d-flex set1 w6 w-xs-8 w-s-6">
                        <div class="buy-btn ">
                            <a href="#" class="color-white">
                                View All Speakers
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row justify-center s-center">
                    <div class="sec3-bg-img d-flex m-set xl-set ">
                        <div class="sec3-bg1 w4 w-xs-12 w-s-5 w-m-5 w-l-3 w-xl-3 w-xxl-3">
                            <img src="images/man1.webp" class="sec3-img">
                            <div class="sec3-info">
                                <a href="#">
                                    Rick Shaw
                                </a>
                                <p class="pd">
                                    Product Designer<span> @Colorlib </span>
                                </p>
                            </div>
                        </div>
                        <div class="sec3-bg2 w4 d-xs-none d-s-block w-s-5 w-m-5 w-l-3 w-xl-3 w-xxl-3">
                            <img src="images/man2.webp" class="sec3-img">
                            <div class="sec3-bg1 sec3-info">
                                <a href="#">
                                    Marcus Down
                                </a>
                                <p class="pd">
                                    Product Designer <span> @Colorlib </span>
                                </p>
                            </div>
                        </div>
                        <div class="sec3-bg3 w4 d-xs-none d-s-none d-l-block w-l-3 w-xl-3 w-xxl-3">
                            <img src="images/man3.webp" class="sec3-img">
                            <div class="sec3-bg1 sec3-info">
                                <a href="#">
                                    Frank Senbeans
                                </a>
                                <p class="pd">
                                    Product Designer <span> @Colorlib </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec4 pt">
            <div class="container">
                <div class="row">
                    <div class="sec4-bg w7 w-xs-12 w-s-12 w-l-6">
                        <img src="images/man 4.webp" class="sec4-img">
                    </div>
                    <div class="sec4-info w5 w-xs-12 w-s-12 w-l-6">
                        <h2 class="info4"> A CITYWIDE<br />
                            <span>
                                CELEBRATION <br>
                                OF DESIGN
                            </span>
                        </h2>
                        <p>
                            Dolor sit amet, consectetur adipisicing elit. Commodi, vel omnis repellendus mollitia,
                            explicabo, maiores quisquam numquam quia reiciendis sit, accusantium atque ex animi
                            perspiciatis ab odit earum assumenda aliquid santium atque ex animi.
                        </p>
                        <p>
                            Dolor sit amet, consectetur adipisicing elit. Commodi, vel omnis repellendus mollitia,
                            explicabo, maiores quisquam numquam quia reiciendis sit, accusantium atque ex animi
                            perspiciatis ab odit earum assumenda aliquid santium atque ex animi.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec5 pt">
            <div class="container">
                <div class="row">
                    <h2 class="sec5-title w12 w-xs-12">
                        Schedule
                    </h2>
                </div>
                <div class="sec5-bg w-xs-12">
                    <div class="sec5-nav-btn w12 w-xs-12 w-s-12">
                        <div class="row justify-center pm w-s-12 ">
                            <div class="date-btn">
                                <a href="#" class="date-btn-a">
                                    17th Aug
                                </a>
                                <a href="#" class="date-btn-b">
                                    18th Aug
                                </a>
                                <a href="#" class="date-btn-b date-b">
                                    19th Aug
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="border-b">
                    </div>
                    <div class="schedule ">
                        <div class="row justify-center py-100">
                            <h4 class="job-title w10">
                                Registration And Breakfast
                            </h4>
                            <div class="job-title d-flex justify-end  w2">
                                08:30 am
                            </div>
                        </div>
                        <p class="job-info">
                            - Mal Practice
                        </p>
                        <div class="border">
                        </div>
                        <div class="row justify-center pt-30 xs-p">
                            <h4 class="job-title w10">
                                Opening Remarks And Keynote
                            </h4>
                            <div class="job-title d-flex justify-end  w2">
                                10:00 am
                            </div>
                        </div>
                        <p class="job-info">
                            - Aaron Ottix
                        </p>
                        <div class="border">

                        </div>
                        <div class="row justify-center pt-30 xs-p">
                            <h4 class="job-title w10">
                                Web Accessible Designs
                            </h4>
                            <div class="job-title d-flex justify-end  w2">
                                11:30 am
                            </div>
                        </div>
                        <p class="job-info">
                            - Frank Senbeans
                        </p>
                        <div class="border">
                        </div>
                        <div class="row justify-center pt-30 xs-p">
                            <h4 class="job-title w10">
                                Building Communities
                            </h4>
                            <div class="job-title d-flex justify-end  w2">
                                12:30 am
                            </div>
                        </div>
                        <p class="job-info">
                            - Ken Tucky
                        </p>
                        <div class="border">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec6 py-100">
            <div class="container">
                <div class="row">
                    <div class="sec6-bg w4 w-xs-12 w-s-6 w-l-4">
                        <a href="#">
                            <img src="images/event1.webp" class="sec6-img">
                        </a>
                        <div class="captions">
                            <h5 class="cap pb-xs-10">
                                <a href="#">
                                    WHEN CORNERS COLLIDE: DECODING <br />
                                    <span>CONTRASTING AESTHETICS</span>
                                </a>
                            </h5>
                            <p>
                                - Justin Case
                            </p>
                        </div>
                    </div>
                    <div class="sec6-bg2 w4 w-xs-12 w-s-6  w-l-4">
                        <a href="#">
                            <img src="images/event2.webp" class="sec6-img">
                        </a>
                        <div class="captions2">
                            <h5 class="cap2 pb-xs-10">
                                <a href="#">
                                    WHEN CORNERS COLLIDE: DECODING<br />
                                    <span>CONTRASTING AESTHETICS</span>
                                </a>
                            </h5>
                            <p>
                                - Justin Case
                            </p>
                        </div>
                    </div>
                    <div class="sec6-bg3 w4 w-xs-12 w-s-6  w-l-4">
                        <a href="#">
                            <img src="images/event3.webp" class="sec6-img">
                        </a>
                        <div class="captions3">
                            <h5 class="cap3 pb-xs-10">
                                <a href="#">
                                    WHEN CORNERS COLLIDE: DECODING<br />
                                    <span>CONTRASTING AESTHETICS</span>
                                </a>
                            </h5>
                            <p>
                                - Justin Case
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec7 py-100">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.2991722315187!2d72.84933827513468!3d21.219981980477634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f1e036267c9%3A0x5a012544102e6c2d!2sRed%20%26%20White%20Multimedia%20Education%20-%20A.K.%20Road!5e0!3m2!1sen!2sin!4v1688492412083!5m2!1sen!2sin"
                width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="map-dec">
            </iframe>
        </section>
        <section>
            <div class="container sec7-img">
            </div>
        </section>
        <section class="sec8">
            <div class="container">
                <div class="row P-R">
                    <div class="schedule-info w12">
                        <div class="sec8-info">
                            <div class="sec8-schedule">
                                <h2>
                                    Schedule
                                </h2>
                            </div>
                        </div>
                        <div class="sec8-bg text-center w-xs-12 ">
                            <ul class="d-flex justify-between p-10">
                                <li class="d-xs-none d-s-none d-l-block">
                                    <img src="images/brand1.webp" />
                                </li>
                                <li>
                                    <img src="images/brand3.webp" />
                                </li>
                                <li class="d-xs-none  d-s-none d-m-block">
                                    <img src="images/brand2.webp" />
                                </li>
                                <li class="">
                                    <img src="images/brand4.webp" />
                                </li>
                                <li class="d-xs-none  d-s-none d-l-block">
                                    <img src="images/brand1.webp" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="ft-p">
        <div class="container">
            <div class="row ">
                <div class="ft-border d-flex justify-between">
                    <div class="ft w3 w-xs-12 w-s-5 w-l-4">
                        <div class="ft1">
                            <a href="#">
                                <img src="images/logo.webp" />
                            </a>
                        </div>
                        <p class="pt-30 pb-20">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, fuga facere. Maxime, aperiam
                            fugit mollitia optio non dolorum liberonesciunt. Cum provident
                        </p>
                        <div class="social-icon w12">
                            <div class="social-icons-bg">
                                <a href="#">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </div>
                            <div class="social-icons-bg1">
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </div>
                            <div class="social-icons-bg2">
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                            <div class="social-icons-bg3 ">
                                <a href="#">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ft2 w3 w-xs-12 w-s-6  w-l-4 xs-p">
                        <div class="ft2-head">
                            <h4>
                                Contact Us
                            </h4>
                        </div>
                        <ul class="ft2-info">
                            <li>
                                <a href="#">
                                    3968 Carson Street, San Diego, Ca 92101
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    info@evento.com
                                </a>
                            </li>
                            <li class="number">
                                <a href="#">
                                    (+91) 8849038912
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ft3 w3 w-xs-12 w-s-12 s-p w-m-8 w-l-4 xs-p">
                        <div class="ft3-head">
                            <h4>
                                Subscribe Newsletter
                            </h4>

                        </div>
                        <p>
                            raising a heavy fur muff that covered the whole of her lower arm towards the viewer.
                        </p>
                        <div class="email-inp w12 pb-20">
                            <input class="text" placeholder="Enter Your Email">
                        </div>
                        <div class="sub-btn">
                            <a href="#" class="color-white">
                                Subscribe
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-center">
                    <div class="ft-b-info">
                        <p>
                            Copyright © 2023 All rights reserved | This template is made with <i
                                class="fa-solid fa-heart"></i>by
                            <a href="#">
                                Colorlib
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>